body {
  font-family: "Ubuntu", sans-serif;
  background-color: #f1f1f1;
}
/* Inicio */
.portada {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 1px;
  border-bottom: 1px ridge black;
  margin-bottom: 40px;
}
.texto-portada {
  padding: 10%;
  text-align: left;
  position: static;
}
.img-portada {
  padding: 10%;
}
/* Pagina Contacto Columnas */
.columnas {
  margin-top: 50px;
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 20px;
}
/* Sidebar */
.sidebar {
  margin: 0;
  padding: 0;
  width: 200px;
  background-color: #e5e5e5;
  position: fixed;
  height: 100%;
  overflow: auto;
}
/* imagen portada */
.img-fluid {
  width: auto;
  height: 150px;
  margin-bottom: 10px;
}
/* texto portada */

/* Sidebar links */
.sidebar a {
  display: block;
  color: black;
  padding: 16px;
  text-decoration: none;
}

.sidebar a.active {
  background-color: #f35937;
  color: white;
}

.sidebar a:hover:not(.active) {
  background-color: #555;
  color: white;
}

div.content {
  margin-left: 200px;
  padding: 1px 16px;
  height: 1000px;
}

/* Media Query */
@media screen and (max-width: 992px) {
  .sidebar {
    width: 0;
    height: 0;
    position: relative;
  }
  .sidebar a {
    float: left;
  }
  div.content {
    margin-left: 0;
  }
  .img-fluid {
    position: inherit;
    width: auto;
    height: auto;
    padding: 0;
    margin-bottom: 10px;
  }
  .columnas {
    display: grid;
    grid-template-columns: 1fr;
  }
  .sidebar a {
    text-align: center;
    float: none;
  }
  .portada {
    display: grid;
    grid-template-columns: 1fr;
    border-bottom: 0;
    margin-bottom: 20px;
  }
  .texto-portada {
    padding: 0;
    position: inherit;
    text-align: center !important;
  }
  .texto {
    border-bottom: 1px ridge black;
    padding-bottom: 30px;
  }
  .img-portada {
    padding: 0;
  }
}
