body {
  font-family: "Ubuntu", sans-serif;
  background-color: #f1f1f1;
}
/* Pagina Contacto Columnas */
.columnas {
  margin-top: 50px;
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 20px;
}
/* Sidebar */
.sidebar {
  margin: 0;
  padding: 0;
  width: 200px;
  background-color: #e5e5e5;
  position: fixed;
  height: 100%;
  overflow: auto;
}
/* imagen portada */
.img-fluid {
  position: inherit;
  width: 2000px;
  height: auto;
  float: center;
  padding: 10px;
  margin-bottom: 10px;
}
/* texto portada */
.texto {
  padding: 10px;
  border-top: 1px ridge #2e2d2d;
  border-bottom: 1px ridge #2e2d2d;
  position: inherit;
}

/* Sidebar links */
.sidebar a {
  display: block;
  color: black;
  padding: 16px;
  text-decoration: none;
}

.sidebar a.active {
  background-color: #f35937;
  color: white;
}

.sidebar a:hover:not(.active) {
  background-color: #555;
  color: white;
}

div.content {
  margin-left: 200px;
  padding: 1px 16px;
  height: 1000px;
}

/* Media Query */
@media screen and (max-width: 700px) {
  .sidebar {
    width: 0;
    height: 0;
    position: relative;
  }
  .sidebar a {
    float: left;
  }
  div.content {
    margin-left: 0;
  }
  .img-fluid {
    position: inherit;
    width: auto;
    height: auto;
    padding: 0;
    margin-bottom: 10px;
  }
  .columnas {
    display: grid;
    grid-template-columns: 1fr;
  }
}

@media screen and (max-width: 400px) {
  .sidebar a {
    text-align: center;
    float: none;
  }
}
